---
type Props = {
  headings: Array<{
    depth: number,
    slug: string,
    text: string
  }>
}
const { headings } = Astro.props
---
<div class="sticky top-6 xl:!col-start-4 xl:row-span-6 xl:row-start-3 hidden space-y-2 font-sans xl:block">
  <div class="text-sm uppercase font-sans text-stone-500">
    On this page
  </div>
  {headings.map((heading) => {
    return (
      <div
        class="data-[level=two]:pl-4 data-[level=three]:pl-8"
        data-level={heading.depth}
      >
        <a
          href={`#${heading.slug}`}
          class="underline-offset-3 text-stone-800 decoration-stone-700 transition-all hover:text-stone-700 hover:underline "
        >
          {heading.text}
        </a>
      </div>
    );
  })}
  <hr class="pb-2 w-7" />
  <button class="text-stone-400 hover:text-stone-700 transition-colors text-sm">
    Back to top
  </button>
</div>

<script>

const backToTopButton = document.querySelector("button")
backToTopButton?.addEventListener("click", () => {
  window.scrollTo({ top: 0, behavior: "smooth" });
})
</script>